<template>
  <div id="container">
    <canvas id="screen"></canvas>
    <canvas id="minimap"></canvas>
    <div id="debug">
      <div id="fps"></div>
    </div>
  </div>
</template>

<script>
import { GameLoop } from "./js/GameLoop.js";

var loop;
function init() {
  loop = new GameLoop();

  loop.start(function frame() {
    loop.game.update();
  });
}

export default {
  name: "App",
  mounted() {
    init();
  },
};
</script>

<style lang="scss">
body {
  overscroll-behavior: contain;
}

html,
body,
#container {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Monaco", monospace;
}

#container {
  position: absolute;
  overflow: hidden;
  touch-action: none;
}

img,
canvas {
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#screen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#minimap {
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-height: 25%;
  max-width: 40%;
}

#debug {
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 25px;
  white-space: pre;
}
</style>
